.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
}

.container_reports{
    max-width: 1550px;
    margin: 0 auto;
    padding: 20px;
}

.container_index{
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 100px;
}

.container_table{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 80px;
}

.teams {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    justify-content: start;
}

.printQR {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    justify-content: start;
    align-items: right;
}

.teams_add {
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
}

.align_caregiver {
    height: 112px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.teams_room {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.teams_building {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.teams_types {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.items_button_center {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.test {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 1320px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.test_index {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    max-width: 1320px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .test_index{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 1320px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (max-width: 450px) {
    .test_index{
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    max-width: 1320px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    }
}

.test_margin {
    padding: 10px; 
    margin: 0 auto;
}

.img_test {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.img_index {
    width: 500px;
    height: 200px;
    object-fit: cover;
}

.img_sild {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.img_sild2 {
    width: 500px;
    height: 167px;
    object-fit: cover;
}

.image-container {
    width: 100%; /* ให้ขนาดของคอนเทนเนอร์เท่ากับขนาดของรูปภาพ */
}

.img_multi {
    width: 600px;
    height: 400px;
    object-fit: cover;
}
  
.no-underline {
    text-decoration: none;
}


  
  

  
  

